In [1]:
# import
import numpy as np
import pandas as pd

In [2]:
#Object creation
# Criando uma Series passando uma lista de valores

lista = [1, 3, 5, np.nan, 6, 8]

s = pd.Series(lista)

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# Criando um Data Frame passando um NumPy array
dates = pd.date_range('20200128', periods=6)

dates

DatetimeIndex(['2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
               '2020-02-01', '2020-02-02'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-30 -2.502195 -0.444754  0.270287  0.845828
2020-01-31  3.375820  0.150074  0.055134  0.027744
2020-02-01  1.588654  1.035447 -0.660819 -0.317510
2020-02-02 -0.380387 -1.422787  0.232121 -0.350507

In [5]:
# criando um DataFrame passando um dicionario

dict = {'A': 1.,
        'B': pd.Timestamp('20200128'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'}

df2 = pd.DataFrame(dict)

df2

     A          B    C  D      E    F
0  1.0 2020-01-28  1.0  3   test  foo
1  1.0 2020-01-28  1.0  3  train  foo
2  1.0 2020-01-28  1.0  3   test  foo
3  1.0 2020-01-28  1.0  3  train  foo

In [6]:
# Viewing data

df.head()

                   A         B         C         D
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-30 -2.502195 -0.444754  0.270287  0.845828
2020-01-31  3.375820  0.150074  0.055134  0.027744
2020-02-01  1.588654  1.035447 -0.660819 -0.317510

In [7]:
df.tail(3)

                   A         B         C         D
2020-01-31  3.375820  0.150074  0.055134  0.027744
2020-02-01  1.588654  1.035447 -0.660819 -0.317510
2020-02-02 -0.380387 -1.422787  0.232121 -0.350507

In [8]:
df.index

DatetimeIndex(['2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
               '2020-02-01', '2020-02-02'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.to_numpy()

array([[-0.20790877, -0.19620608, -1.31330295, -0.47321623],
       [ 0.49746457, -1.25110038,  0.68657311,  0.07588153],
       [-2.50219485, -0.44475387,  0.27028677,  0.84582754],
       [ 3.37581971,  0.15007433,  0.05513421,  0.02774435],
       [ 1.58865359,  1.03544709, -0.66081866, -0.31751017],
       [-0.38038699, -1.42278743,  0.23212138, -0.35050673]])

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2020-01-28 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-28 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-01-28 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-28 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.395241 -0.354888 -0.121668 -0.031963
std    1.983888  0.912675  0.731298  0.482374
min   -2.502195 -1.422787 -1.313303 -0.473216
25%   -0.337267 -1.049514 -0.481830 -0.342258
50%    0.144778 -0.320480  0.143628 -0.144883
75%    1.315856  0.063504  0.260745  0.063847
max    3.375820  1.035447  0.686573  0.845828

In [13]:
# Transposing
df.T

   2020-01-28  2020-01-29  2020-01-30  2020-01-31  2020-02-01  2020-02-02
A   -0.207909    0.497465   -2.502195    3.375820    1.588654   -0.380387
B   -0.196206   -1.251100   -0.444754    0.150074    1.035447   -1.422787
C   -1.313303    0.686573    0.270287    0.055134   -0.660819    0.232121
D   -0.473216    0.075882    0.845828    0.027744   -0.317510   -0.350507

In [14]:
# sorting by an axis
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-28 -0.473216 -1.313303 -0.196206 -0.207909
2020-01-29  0.075882  0.686573 -1.251100  0.497465
2020-01-30  0.845828  0.270287 -0.444754 -2.502195
2020-01-31  0.027744  0.055134  0.150074  3.375820
2020-02-01 -0.317510 -0.660819  1.035447  1.588654
2020-02-02 -0.350507  0.232121 -1.422787 -0.380387

In [15]:
# sorting by values
df.sort_values(by='B')

                   A         B         C         D
2020-02-02 -0.380387 -1.422787  0.232121 -0.350507
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-30 -2.502195 -0.444754  0.270287  0.845828
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216
2020-01-31  3.375820  0.150074  0.055134  0.027744
2020-02-01  1.588654  1.035447 -0.660819 -0.317510

In [16]:
#Selection
# it is recommend at, .iat, .loc and .iloc.

# single columns, a Series
df['A']

2020-01-28   -0.207909
2020-01-29    0.497465
2020-01-30   -2.502195
2020-01-31    3.375820
2020-02-01    1.588654
2020-02-02   -0.380387
Freq: D, Name: A, dtype: float64

In [17]:
# slice rows

df[0:3]

                   A         B         C         D
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-30 -2.502195 -0.444754  0.270287  0.845828

In [18]:
df['20200128':'20200130']

                   A         B         C         D
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-30 -2.502195 -0.444754  0.270287  0.845828

In [19]:
# Selection by label
# cross section using a label
df.loc[dates[0]]

A   -0.207909
B   -0.196206
C   -1.313303
D   -0.473216
Name: 2020-01-28 00:00:00, dtype: float64

In [20]:
# Selection on a multi-axis by label

df.loc[:, ['A', 'B']]

                   A         B
2020-01-28 -0.207909 -0.196206
2020-01-29  0.497465 -1.251100
2020-01-30 -2.502195 -0.444754
2020-01-31  3.375820  0.150074
2020-02-01  1.588654  1.035447
2020-02-02 -0.380387 -1.422787

In [21]:
# Showing labla slicing, both endpoints as included

df.loc['20180128':'20200130', ['A', 'B']]

                   A         B
2020-01-28 -0.207909 -0.196206
2020-01-29  0.497465 -1.251100
2020-01-30 -2.502195 -0.444754

In [22]:
# Reduction in the dimensions of the returned object
df.loc['20200128', ['A', 'B']]

A   -0.207909
B   -0.196206
Name: 2020-01-28 00:00:00, dtype: float64

In [23]:
# getting a scalar value
df.loc[dates[0], 'A']

-0.20790876550752624

In [24]:
# getting fast access to a scalar
df.at[dates[0], 'A']

-0.20790876550752624

In [25]:
# Selection by position
# passando um integer
df.iloc[3]

A    3.375820
B    0.150074
C    0.055134
D    0.027744
Name: 2020-01-31 00:00:00, dtype: float64

In [26]:
# integer slicing
df.iloc[3:5, 0:2]

                   A         B
2020-01-31  3.375820  0.150074
2020-02-01  1.588654  1.035447

In [27]:
# integer position
df.iloc[[1, 2, 4], [0,2]]

                   A         C
2020-01-29  0.497465  0.686573
2020-01-30 -2.502195  0.270287
2020-02-01  1.588654 -0.660819

In [28]:
# integer sicing row
df.iloc[1:3, :]

                   A         B         C         D
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-30 -2.502195 -0.444754  0.270287  0.845828

In [29]:
# integer slicing columns
df.iloc[:, 1:3]

                   B         C
2020-01-28 -0.196206 -1.313303
2020-01-29 -1.251100  0.686573
2020-01-30 -0.444754  0.270287
2020-01-31  0.150074  0.055134
2020-02-01  1.035447 -0.660819
2020-02-02 -1.422787  0.232121

In [30]:
# getting a value explicitly
df.iloc[1, 1]

-1.251100376527725

In [31]:
# fast acces to a scalar
df.iat[1, 1]

-1.251100376527725

In [32]:
# Boolean indexing
# single columns's values to select data
df[df.A > 0]

                   A         B         C         D
2020-01-29  0.497465 -1.251100  0.686573  0.075882
2020-01-31  3.375820  0.150074  0.055134  0.027744
2020-02-01  1.588654  1.035447 -0.660819 -0.317510

In [33]:
# selecting values from a DataFrame where a boolean condition is met
df[df > 0]

                   A         B         C         D
2020-01-28       NaN       NaN       NaN       NaN
2020-01-29  0.497465       NaN  0.686573  0.075882
2020-01-30       NaN       NaN  0.270287  0.845828
2020-01-31  3.375820  0.150074  0.055134  0.027744
2020-02-01  1.588654  1.035447       NaN       NaN
2020-02-02       NaN       NaN  0.232121       NaN

In [34]:
# using the isin() method for filtering
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

df2

                   A         B         C         D      E
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216    one
2020-01-29  0.497465 -1.251100  0.686573  0.075882    one
2020-01-30 -2.502195 -0.444754  0.270287  0.845828    two
2020-01-31  3.375820  0.150074  0.055134  0.027744  three
2020-02-01  1.588654  1.035447 -0.660819 -0.317510   four
2020-02-02 -0.380387 -1.422787  0.232121 -0.350507  three

In [35]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-01-30 -2.502195 -0.444754  0.270287  0.845828   two
2020-02-01  1.588654  1.035447 -0.660819 -0.317510  four

In [36]:
# Setting
# adicionando nova coluna alinhada pelo índice automaticamente
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20200128', periods=6))

df['F'] = s1

df

                   A         B         C         D  F
2020-01-28 -0.207909 -0.196206 -1.313303 -0.473216  1
2020-01-29  0.497465 -1.251100  0.686573  0.075882  2
2020-01-30 -2.502195 -0.444754  0.270287  0.845828  3
2020-01-31  3.375820  0.150074  0.055134  0.027744  4
2020-02-01  1.588654  1.035447 -0.660819 -0.317510  5
2020-02-02 -0.380387 -1.422787  0.232121 -0.350507  6

In [37]:
# definindo valores pelo label
df.at[dates[0],'A'] = 0

In [38]:
# definindo valores por posição
df.iat[0, 1] = 0

In [39]:
# definindo valores através de um array numpy
df.loc[:,'D'] = np.array([5] * len(df))

In [40]:
df

                   A         B         C  D  F
2020-01-28  0.000000  0.000000 -1.313303  5  1
2020-01-29  0.497465 -1.251100  0.686573  5  2
2020-01-30 -2.502195 -0.444754  0.270287  5  3
2020-01-31  3.375820  0.150074  0.055134  5  4
2020-02-01  1.588654  1.035447 -0.660819  5  5
2020-02-02 -0.380387 -1.422787  0.232121  5  6

In [41]:
# definindo com where
df2 = df.copy()
df2[df2 > 0] = -df2

df2

                   A         B         C  D  F
2020-01-28  0.000000  0.000000 -1.313303 -5 -1
2020-01-29 -0.497465 -1.251100 -0.686573 -5 -2
2020-01-30 -2.502195 -0.444754 -0.270287 -5 -3
2020-01-31 -3.375820 -0.150074 -0.055134 -5 -4
2020-02-01 -1.588654 -1.035447 -0.660819 -5 -5
2020-02-02 -0.380387 -1.422787 -0.232121 -5 -6

In [42]:
# Missing data
# change/add/delete indice por eixo
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

df1.loc[dates[0]:dates[1], 'E'] = 1

df1

                   A         B         C  D  F    E
2020-01-28  0.000000  0.000000 -1.313303  5  1  1.0
2020-01-29  0.497465 -1.251100  0.686573  5  2  1.0
2020-01-30 -2.502195 -0.444754  0.270287  5  3  NaN
2020-01-31  3.375820  0.150074  0.055134  5  4  NaN

In [43]:
# eliminar linhas com nan
df1.dropna(how='any')

                   A       B         C  D  F    E
2020-01-28  0.000000  0.0000 -1.313303  5  1  1.0
2020-01-29  0.497465 -1.2511  0.686573  5  2  1.0

In [44]:
# preencher linhas com nan
df1.fillna(value=5)

                   A         B         C  D  F    E
2020-01-28  0.000000  0.000000 -1.313303  5  1  1.0
2020-01-29  0.497465 -1.251100  0.686573  5  2  1.0
2020-01-30 -2.502195 -0.444754  0.270287  5  3  5.0
2020-01-31  3.375820  0.150074  0.055134  5  4  5.0

In [45]:
# mascara booleana de valores nan
pd.isna(df1)

                A      B      C      D      F      E
2020-01-28  False  False  False  False  False  False
2020-01-29  False  False  False  False  False  False
2020-01-30  False  False  False  False  False   True
2020-01-31  False  False  False  False  False   True

In [46]:
#Operations
#Stats
# Performing a descriptiva statistic

df.mean()

A    0.429893
B   -0.322187
C   -0.121668
D    5.000000
F    3.500000
dtype: float64

In [47]:
# outro eixo
df.mean(1)

2020-01-28    0.937339
2020-01-29    1.386587
2020-01-30    1.064668
2020-01-31    2.516206
2020-02-01    2.392656
2020-02-02    1.885789
Freq: D, dtype: float64

In [48]:
# operações com objetos com dimensões diferentes, a operação 
#é aplicadas broadcast
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

s

2020-01-28    NaN
2020-01-29    NaN
2020-01-30    1.0
2020-01-31    3.0
2020-02-01    5.0
2020-02-02    NaN
Freq: D, dtype: float64

In [49]:
df

                   A         B         C  D  F
2020-01-28  0.000000  0.000000 -1.313303  5  1
2020-01-29  0.497465 -1.251100  0.686573  5  2
2020-01-30 -2.502195 -0.444754  0.270287  5  3
2020-01-31  3.375820  0.150074  0.055134  5  4
2020-02-01  1.588654  1.035447 -0.660819  5  5
2020-02-02 -0.380387 -1.422787  0.232121  5  6

In [50]:
df.sub(s, axis='index')

                   A         B         C    D    F
2020-01-28       NaN       NaN       NaN  NaN  NaN
2020-01-29       NaN       NaN       NaN  NaN  NaN
2020-01-30 -3.502195 -1.444754 -0.729713  4.0  2.0
2020-01-31  0.375820 -2.849926 -2.944866  2.0  1.0
2020-02-01 -3.411346 -3.964553 -5.660819  0.0  0.0
2020-02-02       NaN       NaN       NaN  NaN  NaN

In [51]:
# Apply, aplica funçoes para o dado
df

                   A         B         C  D  F
2020-01-28  0.000000  0.000000 -1.313303  5  1
2020-01-29  0.497465 -1.251100  0.686573  5  2
2020-01-30 -2.502195 -0.444754  0.270287  5  3
2020-01-31  3.375820  0.150074  0.055134  5  4
2020-02-01  1.588654  1.035447 -0.660819  5  5
2020-02-02 -0.380387 -1.422787  0.232121  5  6

In [52]:
df.apply(np.cumsum)

                   A         B         C   D   F
2020-01-28  0.000000  0.000000 -1.313303   5   1
2020-01-29  0.497465 -1.251100 -0.626730  10   3
2020-01-30 -2.004730 -1.695854 -0.356443  15   6
2020-01-31  1.371089 -1.545780 -0.301309  20  10
2020-02-01  2.959743 -0.510333 -0.962128  25  15
2020-02-02  2.579356 -1.933120 -0.730006  30  21

In [53]:
df.apply(lambda x: x.max() - x.min())

A    5.878015
B    2.458235
C    1.999876
D    0.000000
F    5.000000
dtype: float64

In [54]:
# Histogramming
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    4
2    5
3    4
4    4
5    4
6    1
7    4
8    6
9    4
dtype: int32

In [55]:
s.value_counts()

4    6
6    2
5    1
1    1
dtype: int64

In [56]:
# string methods
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [57]:
# Merge
# Concat
df = pd.DataFrame(np.random.randn(10, 4))

df

          0         1         2         3
0  0.511408 -1.008277  0.696259 -1.000518
1  0.606059  0.443578  1.007420 -1.251415
2  1.085972 -0.555460 -0.844414  0.232977
3 -1.002866 -0.100246  0.086899  1.617510
4  0.022758 -2.422334  0.700667  0.128580
5  0.806594 -0.687517 -0.602974 -0.449289
6  0.867507  1.227930  0.000210 -0.132940
7  0.366551 -1.305699  0.393017  0.810084
8  0.394553  1.352145 -1.035199  1.623545
9  0.667904  1.545396  0.530723 -4.099031

In [58]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

pieces

[          0         1         2         3
 0  0.511408 -1.008277  0.696259 -1.000518
 1  0.606059  0.443578  1.007420 -1.251415
 2  1.085972 -0.555460 -0.844414  0.232977,
           0         1         2         3
 3 -1.002866 -0.100246  0.086899  1.617510
 4  0.022758 -2.422334  0.700667  0.128580
 5  0.806594 -0.687517 -0.602974 -0.449289
 6  0.867507  1.227930  0.000210 -0.132940,
           0         1         2         3
 7  0.366551 -1.305699  0.393017  0.810084
 8  0.394553  1.352145 -1.035199  1.623545
 9  0.667904  1.545396  0.530723 -4.099031]

In [59]:
pd.concat(pieces)

          0         1         2         3
0  0.511408 -1.008277  0.696259 -1.000518
1  0.606059  0.443578  1.007420 -1.251415
2  1.085972 -0.555460 -0.844414  0.232977
3 -1.002866 -0.100246  0.086899  1.617510
4  0.022758 -2.422334  0.700667  0.128580
5  0.806594 -0.687517 -0.602974 -0.449289
6  0.867507  1.227930  0.000210 -0.132940
7  0.366551 -1.305699  0.393017  0.810084
8  0.394553  1.352145 -1.035199  1.623545
9  0.667904  1.545396  0.530723 -4.099031

In [60]:
#join
#sql style merges
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

left

   key  lval
0  foo     1
1  foo     2

In [61]:
right

   key  rval
0  foo     4
1  foo     5

In [62]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [63]:
# outro exemplo
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

left

   key  lval
0  foo     1
1  bar     2

In [64]:
right

   key  rval
0  foo     4
1  bar     5

In [65]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [66]:
# Append
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B','C', 'D'])

df

          A         B         C         D
0  1.175786  1.119832 -1.539852 -0.233925
1  0.218905  0.894461  2.085533 -0.756853
2 -1.363990 -0.103283  0.384779  1.089581
3 -0.526645 -0.347073  1.114740 -1.209744
4  1.142790  2.195511 -1.308151  0.275319
5 -0.184187  0.064108 -0.171277 -0.959482
6  0.348827 -0.600628  1.495369  1.600279
7  0.245254 -0.024507 -0.395004 -0.384080

In [67]:
s = df.iloc[3]

s

A   -0.526645
B   -0.347073
C    1.114740
D   -1.209744
Name: 3, dtype: float64

In [68]:
df.append(s, ignore_index=True)

          A         B         C         D
0  1.175786  1.119832 -1.539852 -0.233925
1  0.218905  0.894461  2.085533 -0.756853
2 -1.363990 -0.103283  0.384779  1.089581
3 -0.526645 -0.347073  1.114740 -1.209744
4  1.142790  2.195511 -1.308151  0.275319
5 -0.184187  0.064108 -0.171277 -0.959482
6  0.348827 -0.600628  1.495369  1.600279
7  0.245254 -0.024507 -0.395004 -0.384080
8 -0.526645 -0.347073  1.114740 -1.209744

In [70]:
# Grouping

# splitting
# applying
# combining

df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.460423 -0.423023
1  bar    one -2.019304 -0.855760
2  foo    two -1.769179  0.214065
3  bar  three -1.605164  0.226660
4  foo    two  1.679994  0.119781
5  bar    two  2.179509  0.659307
6  foo    one -0.774400  0.060309
7  foo  three  1.225972 -0.005793

In [71]:
# agrupando e aplicando sum()
df.groupby('A').sum()

            C         D
A
bar -1.444960  0.030207
foo -0.098037 -0.034661

In [72]:
# agrupando multiplas colunas
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -2.019304 -0.855760
    three -1.605164  0.226660
    two    2.179509  0.659307
foo one   -1.234823 -0.362714
    three  1.225972 -0.005793
    two   -0.089185  0.333846

In [77]:
# Reshaping
# Stack

list1 = [['bar', 'bar', 'baz', 'baz',
           'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two',
           'one', 'two', 'one', 'two']]

list1

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [86]:
zip1 = zip(*list1)

list(zip1)

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [87]:
tuples = list(zip1)

In [92]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

index

MultiIndex([], names=['first', 'second'])

In [95]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df

ValueError: Shape of passed values is (8, 2), indices imply (0, 2)

In [99]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df

                     A         B
first second
bar   one    -0.106418 -0.963170
      two     0.569759  0.250160
baz   one     1.225720 -0.410330
      two    -0.056444 -1.775214
foo   one    -0.336152  0.409639
      two     0.896704 -0.321213
qux   one    -0.263862 -1.284062
      two    -0.763741 -0.556510

In [98]:
df

                     A         B
first second
bar   one    -1.505340  0.838893
      two     0.307661  0.400297
baz   one     2.252094 -0.728830
      two    -0.954000  0.581183
foo   one    -0.266178  1.375999
      two    -0.195921 -1.449297
qux   one    -0.407701 -0.406868
      two    -0.515617 -1.338002

In [100]:
df2 = df[:4]

df2

                     A         B
first second
bar   one    -0.106418 -0.963170
      two     0.569759  0.250160
baz   one     1.225720 -0.410330
      two    -0.056444 -1.775214

In [101]:
# the stack() method "compresses" a level in the DataFrame's columns

stacked = df2.stack()

stacked

first  second
bar    one     A   -0.106418
               B   -0.963170
       two     A    0.569759
               B    0.250160
baz    one     A    1.225720
               B   -0.410330
       two     A   -0.056444
               B   -1.775214
dtype: float64

In [102]:
type(stacked)

pandas.core.series.Series

In [103]:

stacked.unstack()

                     A         B
first second
bar   one    -0.106418 -0.963170
      two     0.569759  0.250160
baz   one     1.225720 -0.410330
      two    -0.056444 -1.775214

In [104]:
stacked.unstack(1)

second        one       two
first
bar   A -0.106418  0.569759
      B -0.963170  0.250160
baz   A  1.225720 -0.056444
      B -0.410330 -1.775214

In [105]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.106418  1.225720
       B -0.963170 -0.410330
two    A  0.569759 -0.056444
       B  0.250160 -1.775214

In [106]:
# Pivot tables

df = pd.DataFrame({'A': ['one', 'one', 'two', 'thee'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})

df

       A  B    C         D         E
0    one  A  foo  1.073620 -1.106475
1    one  B  foo  0.144394  0.125376
2    two  C  foo  0.948158 -1.116179
3   thee  A  bar -1.496807  0.013806
4    one  B  bar -0.960974 -0.037173
5    one  C  bar -0.186015 -1.017131
6    two  A  foo  0.573623  0.519697
7   thee  B  foo -0.226848  1.375204
8    one  C  foo  0.875723 -0.063063
9    one  A  bar -0.508356  1.042216
10   two  B  bar -0.808747  0.893327
11  thee  C  bar -0.538592 -0.957067

In [107]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C            bar       foo
A    B
one  A -0.508356  1.073620
     B -0.960974  0.144394
     C -0.186015  0.875723
thee A -1.496807       NaN
     B       NaN -0.226848
     C -0.538592       NaN
two  A       NaN  0.573623
     B -0.808747       NaN
     C       NaN  0.948158

In [111]:
# Time series
rng = pd.date_range('1/1/2012', periods=500, freq='S')

rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               ...
               '2012-01-01 00:08:10', '2012-01-01 00:08:11',
               '2012-01-01 00:08:12', '2012-01-01 00:08:13',
               '2012-01-01 00:08:14', '2012-01-01 00:08:15',
               '2012-01-01 00:08:16', '2012-01-01 00:08:17',
               '2012-01-01 00:08:18', '2012-01-01 00:08:19'],
              dtype='datetime64[ns]', length=500, freq='S')

In [112]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts

2012-01-01 00:00:00     25
2012-01-01 00:00:01    180
2012-01-01 00:00:02    101
2012-01-01 00:00:03    406
2012-01-01 00:00:04    196
                      ...
2012-01-01 00:08:15    491
2012-01-01 00:08:16    404
2012-01-01 00:08:17    420
2012-01-01 00:08:18    427
2012-01-01 00:08:19    194
Freq: S, Length: 500, dtype: int32

In [113]:
ts.resample('5Min').sum()

2012-01-01 00:00:00    74141
2012-01-01 00:05:00    49600
Freq: 5T, dtype: int32

In [115]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

ts = pd.Series(np.random.randn(len(rng)), rng)

ts

2012-03-06   -0.015309
2012-03-07   -0.504467
2012-03-08    0.985295
2012-03-09   -0.660204
2012-03-10   -0.918654
Freq: D, dtype: float64

In [116]:
ts_utc = ts.tz_localize('UTC')

ts_utc

2012-03-06 00:00:00+00:00   -0.015309
2012-03-07 00:00:00+00:00   -0.504467
2012-03-08 00:00:00+00:00    0.985295
2012-03-09 00:00:00+00:00   -0.660204
2012-03-10 00:00:00+00:00   -0.918654
Freq: D, dtype: float64

In [117]:
# converting to another time zone
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00   -0.015309
2012-03-06 19:00:00-05:00   -0.504467
2012-03-07 19:00:00-05:00    0.985295
2012-03-08 19:00:00-05:00   -0.660204
2012-03-09 19:00:00-05:00   -0.918654
Freq: D, dtype: float64

In [118]:
# converting between time span
rng = pd.date_range('1/1/2012', periods=5, freq='M')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-01-31   -1.175556
2012-02-29    0.387887
2012-03-31   -1.030585
2012-04-30    0.177617
2012-05-31   -0.013192
Freq: M, dtype: float64

In [119]:
ps = ts.to_period()

ps

2012-01   -1.175556
2012-02    0.387887
2012-03   -1.030585
2012-04    0.177617
2012-05   -0.013192
Freq: M, dtype: float64

In [121]:
ps.to_timestamp()

2012-01-01   -1.175556
2012-02-01    0.387887
2012-03-01   -1.030585
2012-04-01    0.177617
2012-05-01   -0.013192
Freq: MS, dtype: float64

In [122]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-NOV]', freq='Q-NOV')

In [123]:
ts = pd.Series(np.random.randn(len(prng)), prng)

ts

1990Q1   -0.175148
1990Q2    0.937894
1990Q3   -1.417823
1990Q4    0.616468
1991Q1   -0.577266
1991Q2    0.392497
1991Q3    0.383607
1991Q4   -0.361153
1992Q1   -1.353781
1992Q2   -0.195600
1992Q3   -0.509852
1992Q4   -1.554040
1993Q1    1.675495
1993Q2    0.065942
1993Q3   -0.487345
1993Q4    0.670508
1994Q1    0.544164
1994Q2    1.472311
1994Q3   -1.889352
1994Q4   -1.259358
1995Q1   -0.247905
1995Q2   -1.762533
1995Q3    0.397385
1995Q4   -0.419017
1996Q1    1.851871
1996Q2    0.119121
1996Q3    0.218261
1996Q4   -1.124092
1997Q1    0.484122
1997Q2   -0.588374
1997Q3    2.182672
1997Q4   -0.345857
1998Q1    0.040355
1998Q2    0.437799
1998Q3   -0.242297
1998Q4    0.643026
1999Q1   -2.065397
1999Q2    0.764233
1999Q3    1.235793
1999Q4   -0.424143
2000Q1    1.212011
2000Q2    0.178699
2000Q3   -1.087959
2000Q4   -0.522095
Freq: Q-NOV, dtype: float64

In [124]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's')

ts.head()

1990-03-01 00:00   -0.175148
1990-06-01 00:00    0.937894
1990-09-01 00:00   -1.417823
1990-12-01 00:00    0.616468
1991-03-01 00:00   -0.577266
Freq: H, dtype: float64

In [125]:
# Categoricals
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})

df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [126]:
# convert to categorical data type
df['grade'] = df['raw_grade'].astype("category")

df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [127]:
# rename categories to more meaningful manes

df['grade'].cat.categories = ['very good', 'good', 'very bad']

In [128]:
# reorder the categories and simultaneously add the missing categories

df['grade'] = df['grade'].cat.set_categories(['very bad', 'bad', 'medium',
                                              'good', 'very good'])

df['grade']

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [129]:
# sorting is per order in the categories, not lexical order

df.sort_values(by='grade')

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [130]:
# grouping by a categorical column also shows empty categories

df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

In [133]:
# Plotting

ts = pd.Series(np.random.randn(1000),
              index=pd.date_range('1/1/2020', periods=1000))

ts

2020-01-01   -0.066010
2020-01-02   -1.128370
2020-01-03   -0.193698
2020-01-04   -2.430308
2020-01-05    0.133611
                ...
2022-09-22   -0.264167
2022-09-23    0.688513
2022-09-24   -0.212806
2022-09-25    0.522893
2022-09-26    0.010912
Freq: D, Length: 1000, dtype: float64

In [136]:
ts = ts.cumsum

ts.plot()

AttributeError: 'function' object has no attribute 'cumsum'

In [137]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                 columns=['A', 'B', 'C', 'D'])

df = df.cumsum()

AttributeError: 'function' object has no attribute 'index'

In [138]:
#Getting data in/out
# CSV

df.to_csv('foo.csv')

In [139]:
pd.read_csv('foo.csv')

   Unnamed: 0  id raw_grade      grade
0           0   1         a  very good
1           1   2         b       good
2           2   3         b       good
3           3   4         a  very good
4           4   5         a  very good
5           5   6         e   very bad

In [140]:
# reading and writing to HDFStores

df.to_hdf('foo.h5', 'df')

NotImplementedError: Cannot store a category dtype in a HDF5 dataset that uses format="fixed". Use format="table".

In [141]:
pd.read_hdf('foo.h5', 'df')

AttributeError: Attribute 'block2_items_variety' does not exist in node: '/df'

In [142]:
# reading and writing from excel
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [143]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

   Unnamed: 0  id raw_grade      grade
0           0   1         a  very good
1           1   2         b       good
2           2   3         b       good
3           3   4         a  very good
4           4   5         a  very good
5           5   6         e   very bad

In [144]:
# Gotchas

if pd.Series([False, True, False]):
    print('I was true')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().